* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-color: #078743;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0b4220;
  height: auto;
  font-family: cursive;
  padding-top: 40px;
}
.footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer_content h3 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3em;
  font-variant: small-caps;
}
.footer_content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  text-transform: uppercase;
  font-variant: small-caps;
}
.social_icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1em 0;
}
.social_icons li {
  margin: 0 10px;
}
.social_icons a {
  text-decoration: none;
}
.social_icons a i {
  transition: 0.4s linear;
  font-size: 24px;
}
.social_icons a:hover i {
  color: aqua;
  /*👉color: #078743;👈*/
  font-size: 30px;
}
.footer_bottom {
  background: #05331b;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer_bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer_bottom span {
  opacity: 0.4;
  text-transform: uppercase;
  font-weight: 200;
}
.contact a {
  text-decoration: none;
}
.contact span {
  font-size: 1.5em;
  font-variant: small-caps;
  margin: 0px auto;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-decoration: underline #fff;
  font-style: italic;
}
.contact a i {
  font-size: 25px;
  padding: 20px 0;
}
.footer_button form input {
  padding: 5px 20px;
  background-color: transparent;
  color: #fff;
  border: 2px ridge #fff;
  line-height: 20px;
  outline: none;
}
.footer_button form input:hover {
  border: 2px ridge #19801d;
}
.footer_button form .sub_btn {
  background-color: #19801d;
  line-height: 30px;
  outline: none;
  border: 1px ridge #fff;
}
.footer_button form .sub_btn:hover {
  background-color: transparent;
  border: 1px ridge #fff;
}
.footer_button form .sub_btn i {
  font-size: 21px;
  padding: 1px 15px;
  font-weight: bold;
}
